:root {
	--accent-color: #800000;
	--menu-light: white;
	--menu-mid: antiquewhite;
	--menu-dark: #333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(90% + .2vw);
	line-height: 1.5;
	width: 80%;
	max-width: 1024px;
	margin: auto;
	border: 2px solid var(--accent-color);
}

h1, h2, h3, h4, h5, h6, p, ul {
	padding-top: .25em;
	padding-bottom: .25em;
}

ul {
	margin-left: 2em;
}

a:hover, a:focus {
	font-style: italic;
	color: var(--accent-color);
}

h1 { font-size: 150%; }
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 { font-size: 105%; }

header {
	text-align: center;
	line-height: 1.2;
	border-bottom: 2px solid var(--accent-color);
	background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 65%, #f6bb73 100%);

	& h2 {
		font-size: 175%;
		padding-bottom: 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
		padding-bottom: 1em;
	}
	& img {
		display: none;
	}
}

.navbar {
	background-color: var(--accent-color);
	position: relative;

	& a {
		display: block;
		padding: 1em;
		margin: 0 2px 2px 0;
		text-decoration: none;
		color: var(--menu-light);
	}
	& a:hover, & a:focus, & a.current {
		background-color: var(--menu-mid);
		color: var(--menu-dark);
		font-style: normal;
	}
	& ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}


#menu-toggle {
	display: none;
}


.menu-btn {
	display: block;
	color: var(--menu-light);
	background-color: var(--accent-color);
	font-size: 1.5em;
	padding: .5em 1em;
	cursor: pointer;
	user-select: none;
}


.menu {
	display: none;
	position: absolute;
	left: 0;
	background-color: var(--accent-color);
	width: 40%;
	z-index: 200;

	& li {
		text-align: left;
		position: relative;
	}
	& small::after {
		content: " \25B6";
	}
}


#menu-toggle:checked ~ .menu {
	display: block;
}
#menu-toggle:checked ~ .menu-btn::before {
	content: "\2715  ";
}


.submenu {
	display: none;
	position: absolute;
	top: 0;
	left: 100%;
	width: 100%;
	background-color: var(--accent-color);
	color: var(--menu-light);
	z-index: 100;

	& > li a { margin: 2px; }
}

.has-submenu:hover > .submenu {
	display: block;
}


main {
	clear: left;
	padding-bottom: 1em;
	display: flex;
	flex-direction: column-reverse;
}

aside {
	padding: .5em 1em;

	& img {
		border: 4px double var(--accent-color);
		border-radius: 6px;
		width: 100%;
		min-width: 40px;
		max-width: 75px;
	}
}

section {
	padding: .5em 1em;
	border-bottom: 2px solid var(--accent-color);

	& img {
		border: 4px double var(--accent-color);
		border-radius: 6px;
		float: right;
		margin: 0 0 .5em 1em;
		width: 40%;
		min-width: 100px;
		max-width: 250px;
	}
}

.speaker {
	padding: .5em 1em;

	& h1 { color: var(--accent-color); }
	& h2 { color: black; }
	& p {
		padding-top: .5em;
		padding-bottom: .5em;
	}
	& img {
		border: 4px double var(--accent-color);
		border-radius: 6px;
		float: right;
		margin: 0 0 .5em 1em;
		width: 40%;
		min-width: 100px;
		max-width: 250px;
	}
}

.featured {
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
	padding: .5em 0;
	overflow: auto;
}

blockquote {
	font-style: italic;
	padding-left: 2em;
	padding-right: 2em;
}

footer {
	background-color: var(--accent-color);
	clear: both;

	& p {
		text-align: center;
		padding-top: 1em;
		padding-bottom: 1em;
		color: white;
	}
}

.large { font-size: 125%; }
.circle-list { list-style-type: circle; }

@media (min-width: 550px) {
	main {
		flex-direction: row;
	}
	aside {
		flex-basis: 25%;
		border-right: 2px solid var(--accent-color);
	}
	section {
		flex-basis: 75%;
		border-bottom: none;
	}
	.speaker {
		flex-basis: 75%;
	}

	/* Horizontal nav */
	.menu-btn {
		display: none;
	}

	.menu {
		display: flex;
		position: relative;
		width: 100%;

		& li {
			flex-basis: 20%;
			text-align: center;
		}
		& small::after {
			content: " \25BC";
		}
	}

	.menu > li:first-child a { margin-left: 0; }
	.menu > li:last-child a { margin-right: 0; }

	.navbar {
		& a { margin: 0 1px 2px; }
	}

	.submenu {
		position: absolute;
		top: auto;
		left: 0;
		right: 0;
		width: auto;

		& > li a { margin: 0 2px 2px; }
	}
}

@media (min-width: 400px) {
	header {
		text-align: left;

		& img {
			display: block;
			float: left;
			margin: .75em 1em;
			width: 100%;
			min-width: 40px;
			max-width: 80px;
		}
	}
}
