:root {
	--accent-color: #800000;
	--menu-light: white;
	--menu-mid: antiquewhite;
	--menu-dark: #333;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: calc(90% + .2vw);
	line-height: 1.5;
	width: 80%;
	max-width: 1024px;
	margin: auto;
	border: 2px solid var(--accent-color);
}

h1, h2, h3, h4, h5, h6, p, ul {
	padding-top: .25em;
	padding-bottom: .25em;
}

ul {
	margin-left: 2em;
}

a:hover, a:focus {
	font-style: italic;
	color: var(--accent-color);
}

h1 { font-size: 150%; }
h2 { font-size: 130%; color: var(--accent-color); }
h3 { font-size: 105%; }


header {
	text-align: center;
	line-height: 1.2;
	border-bottom: 2px solid var(--accent-color);
	background: linear-gradient(30deg, #f6bb73 0%, white 30%, white 65%, #f6bb73 100%);
}
header h2 { font-size: 175%; padding-bottom: 0; }
header h3 { font-size: 130%; font-style: italic; padding-bottom: 1em; }
header img { display: none; }

.navbar {
	background-color: var(--accent-color);
	position: relative;
}

.navbar ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.navbar a {
	display: block;
	padding: 1em;
	margin: 0 1px 2px;
	text-decoration: none;
	color: var(--menu-light);
}

.navbar a:hover,
.navbar a:focus,
.navbar a.current {
	background-color: var(--menu-mid);
	color: var(--menu-dark);
	font-style: normal;
}


.menu {
	display: none;
	width: 100%;
}

.menu li {
	flex-basis: 20%;
	text-align: center;
	position: relative;
}


.menu li ul {
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: var(--accent-color);
	z-index: 100;
}

.menu li:hover > ul {
	display: block;
}

.menu > li:first-child > a { margin-left: 0; }
.menu > li:last-child > a  { margin-right: 0; }


.slicknav_menu {
	background-color: var(--accent-color);
	padding: 0;
}
.slicknav_btn {
	background-color: var(--accent-color);
	margin: 0;
	padding: .75em 1em;
}
.slicknav_nav {
	background-color: var(--accent-color);
}
.slicknav_nav a {
	color: var(--menu-light);
	padding: .5em 1em;
	margin: 0;
}
.slicknav_nav a:hover {
	background-color: var(--menu-mid);
	color: var(--menu-dark);
	border-radius: 0;
}


main {
	clear: left;
	padding-bottom: 1em;
	display: flex;
	flex-direction: column-reverse;
}

aside {
	padding: .5em 1em;
}

aside img {
	border: 4px double var(--accent-color);
	border-radius: 6px;
	width: 100%;
	min-width: 40px;
	max-width: 75px;
}

section {
	padding: .5em 1em;
	border-bottom: 2px solid var(--accent-color);
}

section img {
	border: 4px double var(--accent-color);
	border-radius: 6px;
	float: right;
	margin: 0 0 .5em 1em;
	width: 40%;
	min-width: 100px;
	max-width: 250px;
}

.speaker {
	padding: .5em 1em;
}

.speaker h1 { color: var(--accent-color); }
.speaker h2 { color: black; }
.speaker p  { padding-top: .5em; padding-bottom: .5em; }

.speaker img {
	border: 4px double var(--accent-color);
	border-radius: 6px;
	float: right;
	margin: 0 0 .5em 1em;
	width: 40%;
	min-width: 100px;
	max-width: 250px;
}

.featured {
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
	padding: .5em 0;
	overflow: auto;
}

blockquote {
	font-style: italic;
	padding-left: 2em;
	padding-right: 2em;
}

footer {
	background-color: var(--accent-color);
	clear: both;
}

footer p {
	text-align: center;
	padding-top: 1em;
	padding-bottom: 1em;
	color: white;
}

.large { font-size: 125%; }
.circle-list { list-style-type: circle; }


@media (min-width: 550px) {


	.menu {
		display: flex;
	}
	.slicknav_menu {
		display: none;
	}

	
	main       { flex-direction: row; }
	aside      { flex-basis: 25%; border-right: 2px solid var(--accent-color); }
	section    { flex-basis: 75%; border-bottom: none; }
	.speaker   { flex-basis: 75%; }
}

 
@media (min-width: 400px) {
	header {
		text-align: left;
	}
	header img {
		display: block;
		float: left;
		margin: .75em 1em;
		width: 100%;
		min-width: 40px;
		max-width: 80px;
	}
}
